body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 0 1em;
}

nav ul, nav li {
  display: contents;
}

nav {
  display: flex;
  margin-bottom: 1rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
}

nav a {
  flex: 1;
  text-decoration: none;
  text-align: center;
  padding: 0.5em;
  border-bottom: 0.4em solid transparent;
  color: black;
}

nav a.current {
  border-bottom-width: 0.4em;
  border-bottom-color: oklch(80% 3% 200);
  padding-bottom: 0.1em;
  color: black;
  font-weight: bold!important;
}

html{
  --color-accent: oklch(65% 50% 0);
}

body {
  accent-color: var(--color-accent);
}

a:hover {
  border-bottom-color: var(--color-accent);
  background-color: oklch(from var(--color-accent) 95% 5% h)
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}

h2 {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.1;
  text-wrap: balance;
}

#name{
  text-align: center;
}

.resume h2{
  border-bottom: 1px solid #888;
}





